<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col" class="text-center">TASKS</th>
            <th scope="col" class="text-center">TASKS ASSIGNED</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let x of user_data">
            <tr *ngIf="x.role=='user'">

              <th scope="row">{{x.id}}</th>
              <td>{{x.firstname}}</td>
              <td>{{x.email}}</td>
              <td class="text-center">
                <a mat-raised-button color="primary" data-bs-toggle="modal" (click)="showUser(x)"
                  data-bs-target="#staticBackdrop">ASSIGN</a>
                <a class="ms-4" mat-raised-button color="accent">UPDATE</a>
                <a class="ms-4" mat-raised-button color="warn">DELETE</a>
              </td>
              <td class="text-center" data-bs-target="#staticBackdrop1" data-bs-toggle="modal"><a mat-raised-button
                  (click)="showUser(x)">View Task</a></td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-container>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bolder fs-5" id="staticBackdropLabel">Assign Tasks to {{username}} </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="myForm1" (ngSubmit)="assign_Tasks(myForm1)">

            <div class="mb-3">
              <label for="message-text" class="col-form-label">Task:</label>
              <textarea class="form-control" formControlName="task"></textarea>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Set Due Date</label>
              <input type="date" class="form-control" name="duedate" formControlName="duedate" id="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Assign</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>


<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bolder fs-5" id="staticBackdropLabel">Tasks Assigned to {{username}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let x of taskList">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>ID</th>
                <th>TASKS</th>
                <th>DATE</th>
                <th>DUE DATE</th>
                <th>STATUS</th>
              </tr>
              <tr>
                <td>{{x.id}}</td>
                <td>{{x.task}}</td>
                <td>{{x.date}}</td>
                <td>{{x.duedate}}</td>
                <td>{{x.status}}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>